<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:camel="http://camel.apache.org/schema/spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd          
		http://camel.apache.org/schema/spring 
		http://camel.apache.org/schema/spring/camel-spring.xsd">

	<bean id="processor" class="com.javavillage.camel.processor.LogProcessor"/>
	<bean id="component" class="com.javavillage.camel.transfermor.CamelTranformer"/>

	<camelContext  xmlns="http://camel.apache.org/schema/spring">
		<route>
			<from uri="file:D:/WS/CAMEL_WS/camel/springcamelprj/input?noop=true" />
			<process ref="processor"/>		
			<bean ref="component"/>			
			<to uri="file:D:/WS/CAMEL_WS/camel/springcamelprj/output" />		
		</route>
	</camelContext>
</beans>